
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');
.my-app{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    width: auto;
    height: 100%;
}
@media screen and (max-width: 960px){
    .my-app{
        width: 100%;
    }
}

/* Navigation-bar Dark and Light theme */
.nav-bar.light-mode {
  background-color: #1a1a1a; /* Navigation background color in light mode */
  text: #ffffff;
}
.nav-bar.light-mode a{
  color: #ffffff; /* Navigation text color in light mode */
}
.nav-bar.dark-mode{
  background-color: #ffffff;
}
.nav-bar.dark-mode a{
  color: #000000;
}

/* App Dark and Light theme */
.my-app.dark-mode{
  background-color: #121f28
  ;
  color: #ffffff;
}
.my-app.light-mode{
  background-color: #ffffff;
  color: #000000;
}

/* Navigation CSS */
.moon {
  filter: drop-shadow(0 0 8px #FFC947);  
}
.moon:hover{
  filter: drop-shadow(0 0 1px #FFC947);  
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
}
.nav-bar-logo a {
  text-decoration: none;
  font-size: 20px;
  margin-left: 0px;
}
.nav-bar-links {
  display: flex;
  gap: 25px;
}
.nav-bar-links a {
  text-decoration: none;
}
.nav-bar-links a:hover {
  color: #FFC947;
  transition: 1s;
}

/* Homepage CSS */
.home-main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  height: 80vh;
}
.home-sub {
  flex: 1;
  text-align: left;
}


/* About Page CSS */
.name-tag {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.name  {
  color: #FFC947;
}

.profile-info{
  font-size: 12px;
  margin-right: 20px;
}

.about-container ul,
.about-container li {
  
  font-size: 12px;
  margin-bottom: 8px;
}
p{
  font-size: 12px;
}
p li {
  list-style: none;
  margin-bottom: 10px;
}

/* Footer Page CSS */
.footer {
  text-align: center;
  margin: 20px;
}
.social-links {
  display:flex;
  justify-content: center;
  margin-top: 20px;
}
.social-links a {
  margin: 0 10px;
  display: inline-block;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.social-links a:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 10px #FFC947);  
  /* content: url("./icons/icons8-instagram.svg"); */
}









